.diary-text-editor .ql-container {
  background-color: white; /* Sets the background color of the editor */
  border: 1px solid #ccc; /* Optional: border to distinguish editor area */
  border-radius: 5px; /* Optional: rounded corners */
}

.diary-text-editor .ql-editor {
  background-color: white; /* Ensures the editable area is also white */
  color: rgb(255, 255, 255); /* Sets text color to black for contrast */
  min-height: 20vh; /* Optional: ensures a minimum height */
  font-size: 1vh;
}

.diary-text-editor .ql-toolbar {
  background-color: #f0f0f0; /* Optional: toolbar background to contrast with editor */
  border-radius: 5px 5px 0 0; /* Optional: rounded corners */
}

.save-status {
  color: white;
  font-size: 1.3vh;
  margin-top: 2vh;
}