.mood-chart-container {
  margin: 2vh auto;
  width: 100%; /* Adjusts the width to be more responsive */
  max-width: auto; /* Allows the chart to be bigger on larger screens */
  padding: 2vh;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1vh;
  box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
}

.mood-chart-container:hover {
  transform: scale(1.02);
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
  .mood-chart-container{
    width: auto;
  }
}
