
.nav-header {
    position: relative;
    width: 100%;
    background-color: transparent;
}

.nav-bar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: transparent;
    backdrop-filter: blur(20px);
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-sizing: border-box;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-bar.hidden {
    transform: translateY(-100%); /* Move navbar out of view */
    opacity: 0; /* Fade out */
}

/* Flexbox container for buttons */
.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

/* Animation keyframes */
@keyframes slideDownFade {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile menu styles */
.nav-buttons-mobile {
    display: none; /* Initially hidden */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    list-style: none;
    padding: 20px;
    gap: 15px;
    opacity: 0; /* Start with no opacity */
    animation: slideDownFade 0.5s ease forwards; /* Apply animation */
}

.nav-buttons-mobile button {
    text-align: center;
}

/* Common button styles */
button.home-btn,
button.write-btn,
button.entries-btn,
button.about-btn,
button.contact-btn {
    background: none;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s, padding 0.3s;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

/* Mobile menu icon */
.mobile-menu-icon {
    display: none; /* Initially hidden */
    font-size: 28px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .nav-buttons {
        display: none; /* Hide nav buttons on small screens */
    }

    .mobile-menu-icon {
        display: block; /* Show mobile icon on small screens */
    }

    .nav-buttons-mobile {
        display: flex; /* Display mobile menu when icon is clicked */
    }
}

@media (min-width: 769px) {
    .mobile-menu-icon {
        display: none; /* Hide mobile icon on larger screens */
    }

    .nav-buttons {
        display: flex; /* Show nav buttons again */
    }

    .nav-buttons-mobile {
        display: none; /* Hide mobile menu when screen is larger */
    }
}