@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("../../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: local("Poppins"),
    url("../../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins"), url("../../fonts/Poppins-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(20px);
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navLogo {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 20px;
}

button.Home {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

.navBar.Home::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.3s;
}

.navBar.Home:hover::before {
  width: 100%;
}

button.Save {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

.navBar.Save::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.3s;
}

.navBar.Save:hover::before {
  width: 100%;
}

button.Load {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

.navBar.Load::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.3s;
}

.navBar.Load:hover::before {
  width: 100%;
}

button.About {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

.navBar.About::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.3s;
}

.navBar.About:hover::before {
  width: 100%;
}

button.Contact {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

.navBar.Contact::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.3s;
}

.navBar.Contact:hover::before {
  width: 100%;
}
