@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("/src/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: local("Poppins"), url("/src/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins"), url("/src/fonts/Poppins-Bold.ttf") format("truetype");
}

/* Navbar styling */
.nav-header {
  position: relative;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-radius: 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

/* Flexbox container for buttons */
.nav-buttons {
  display: flex;
  justify-content: center; /* Center buttons horizontally within the container */
  align-items: center; /* Center buttons vertically */
  gap: 40px; /* Add space between buttons */
}

button.Home {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s, background-color 0.2s, padding 0.3s;
}

button.Home:hover {
  transform: scale(1.2);
  background-color: rgb(241, 216, 184);
  border-radius: 2cm;
  padding: 10px 10px;
}

button.Home:hover::before {
  opacity: 1;
}

button.Write {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s, background-color 0.2s, padding 0.3s;
}

button.Write:hover {
  transform: scale(1.2);
  background-color: rgb(241, 216, 184);
  border-radius: 2cm;
  padding: 10px 10px;
}

button.Write:hover::before {
  opacity: 1;
}

button.Load {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s, background-color 0.2s, padding 0.3s;
}

button.Load:hover {
  transform: scale(1.2);
  background-color: rgb(241, 216, 184);
  border-radius: 2cm;
  padding: 10px 10px;
}

button.Load:hover::before {
  opacity: 1;
}

button.About {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s, background-color 0.2s, padding 0.3s;
}

button.About:hover {
  transform: scale(1.2);
  background-color: rgb(241, 216, 184);
  border-radius: 2cm;
  padding: 10px 10px;
}

button.About:hover::before {
  opacity: 1;
}

button.Contact {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s, background-color 0.2s, padding 0.3s;
}

button.Contact:hover {
  transform: scale(1.2);
  background-color: rgb(241, 216, 184);
  border-radius: 2cm;
  padding: 10px 10px;
}

button.Contact:hover::before {
  opacity: 1;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.logout:hover {
  background-color: darkred;
}
