.badges-container {
    display: flex;
    overflow-x: auto;
    padding: 1vh;
    font-size: 2vh;
  }
  
  .badge {
    min-width: 15vh;
    height: 15vh;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin-right: 7vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .badge-unlocked {
    background-color: #4caf50; /* Green for unlocked badges */
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .badge-locked {
    min-width: 15vh;
    height: 15vh;
    background-color: #ccc; /* Gray for locked badges */
    border-radius: 50%;
    margin-right: 7vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: not-allowed;
    position: relative;
    transition: transform 0.3s ease;
  }

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
      .badges-container {
        display: grid;
        padding: 1vh;
        font-size: 2vh;
      }
}