.badges-container {
  display: flex;
  overflow-x: auto;
  padding: 1vh;
  justify-content: center;
}

.badge {
  min-width: 15vh;
  width: 20vh;
  height: 15vh;
  background-color: #f0f0f0;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 1.5vh;
}

.badge.unlocked {
  background-color: #4caf50; /* Green for unlocked badges */
  color: white;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
}

.badge.locked {
  background-color: #ccc; /* Gray for locked badges */
  color: #666;
  cursor: not-allowed;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
  width: 20vh;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
      .badges-container {
        display: grid;
        padding: 1vh;
        font-size: 2vh;
      }

      .badge.locked {
        width: 25vh;
      }
}