.word-cloud-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  position: absolute;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: #ffffff;
}

#timeline {
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
  height: 300px;
}

.spinner {
  margin: 20px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.word-cloud-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

svg {
  margin-bottom: 20px;
}
