.contactFormContainer {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  max-width: 300px;
  min-width: 400px;
  margin-top: 200px;
  margin-bottom: 200px;
  height: auto;
  min-height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: height 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
}

.contactForm {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactFormHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.name {
  margin-right: 30px;
  margin-left: 20px;
}

.email {
  margin-right: 35px;
  margin-left: 20px;
}

.subject {
  margin-right: 18px;
  margin-left: 20px;
}

.message {
  margin-right: 7px;
  margin-left: 20px;
}

.formGroup label {
  margin-bottom: 5px;
  font-weight: bold;
}

.nameInput, .emailInput, .subjectInput, .messageInput {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  margin: 30px 0;
  padding: 10px;
}

.messageInput {
  resize: none;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  min-height: 100px;
}

.messageInput::-webkit-scrollbar {
  width: 8px;
}

.messageInput::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

.messageInput::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
  padding: 2px;
  margin-right: 50px;
}

.formGroup input,
.formGroup textarea {
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
}


/* TODO: FIX STYLING OF THE SUBMIT BUTTON */
.submit-btn {
  width: 150%;
  height: 45px;
  justify-content: center;
  align-items: ce;
  background: black;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.Footer {
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
}