/* Global Styles */
body,
html {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-family: "Arial", sans-serif; /* Set font family */
  font-size: 1vh; /* Set base font size */
  background: var(--primary-bg); /* Set background using CSS variable */
  color: #fff; /* Set text color to white */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  min-height: 100vh; /* Ensure body covers at least full viewport height */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.diaryPage {
  display: flex; /* Use flexbox for layout */
  z-index: 1; /* Ensure it is above other elements */
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
  min-height: 100vh; /* Ensure it covers full viewport height */
  width: 100%; /* Full width */
}

.folder {
  width: 30vh;
  height: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 2vh;
  font-size: 1vh;
  padding: 100px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: height 0.2s ease;
  margin: 1vh;
}

.most-recent-table {
  width: 60vh;
  height: 15vh;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 2vh;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: height 0.2s ease;
  margin-top: 3vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url("../../Pictures/WorkDiaryBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  transition: 0.2s, background-color 0.2s, padding 0.3s;
}

.most-recent-table:hover,
.user-diary:hover {
  transform: scale(1.1);
}

.most-recent-table::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.most-recent-table-heading {
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.8vh;
  border-radius: 0.8vh;
  font-size: 1vh;
  z-index: 1;
}

.what-you-header {
  margin-top: 4vh;
  font-size: 2vh;
  text-align: center;
}

.new-entry-form {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-entry-form input[type="text"] {
  width: 30vh;
  padding: 1vh;
  font-size: 1.5vh;
  border-radius: 2vh;
  position: relative;
  height: 2vh;
  border: 20px solid rgba(255, 255, 255, 0.5);
  margin: 1vh 0;
  margin-top: 5vh;
}

.new-entry-form button {
  width: 100%;
  height: 3.5vh;
  background: black;
  border: none;
  outline: none;
  border-radius: 0.6vh;
  cursor: pointer;
  font-size: 1vh;
  color: #fff;
  font-weight: 500;
}

.toggle-entries-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2vh;
  color: #007bff;
  margin-left: 1vh;
}

.most-recent-written-header,
.most-recent-table-written-heading {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.most-recent-table {
  margin-bottom: 10vh;
}

.date-picker-container {
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
}

.date-picker-container label {
  margin-bottom: 1vh;
}

.react-datepicker-wrapper .react-datepicker__input-container {
  width: 50%;
}

.react-datepicker__input-container input {
  width: 50%;
  padding: 1vh;
  box-sizing: border-box;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 30vh;
  padding: 1vh;
  font-size: 1.5vh;
  border-radius: 2vh;
  position: relative;
  height: 2vh;
  border: 20px solid rgba(255, 255, 255, 0.5);
  margin: 1vh 0;
  margin-top: 5vh;
}

.new-entry-form button,
.search-button, .see-all-button
 {
  width: 18.5vh;
  height: 3.5vh;
  background: black;
  border: none;
  outline: none;
  border-radius: 0.6vh;
  cursor: pointer;
  font-size: 1vh;
  color: #fff;
  font-weight: 500;
}

.your-diaries-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.user-diaries-heading {
  margin-top: 8vh;
  font-size: 2vh;
  text-align: center;
}

/* Ensure responsiveness */
@media (max-width: 768px) {
  body,
  html {
    font-size: 1vh; /* Reduce font size for smaller screens */
  }

  .diaryPage {
    flex-direction: column; /* Stack elements vertically */
    align-items: stretch; /* Stretch the content across the screen */
    padding: 1vh; /* Add padding to prevent content from touching edges */
  }

  .new-entry-form button {
    width: 100%; /* Make input and button take full width */
    margin: 1vh 0; /* Add margin for better spacing */
    height: 7vh;
    font-size: 2rem;
  }

  .new-entry-form input[type="text"] {
    width: 100%; /* Make input and button take full width */
    margin: 1vh 0; /* Add margin for better spacing */
    margin-top: 20%;
    font-size: 2rem;
  }

  .most-recent-table {
    width: 100%; /* Make the table responsive */
    font-size: 2rem;
  }

  .folders-horizontal {
    flex-direction: column; /* Stack folders vertically */
    padding: 0; /* Remove padding for small screens */
  }

  .user-diaries {
    flex-direction: column; /* Stack the diaries vertically */
  }

  .user-diary-list {
    flex-direction: column; /* Stack the diary list vertically */
  }

  .folder,
  .user-diary {
    width: 100%; /* Make these take full width */
    margin: 1vh 0; /* Adjust margin for better spacing */
  }

  .toggle-entries-button {
    font-size: 5vh; /* Reduce button font size for mobile */
    margin-left: 0px;
  }

  .search-input {
    width: 100%; /* Make search input responsive */
  }

  .toggle-entries-button {
    font-size: 5rem;
    margin-left: 0px;
  }

  .search-form {
    width: 100%;
  }

  .search-input {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: 0.1vh solid #ccc;
    font-size: 1rem;
    margin-right: 10px;
    width: auto;
    height: 20px;
    font-size: 2rem;
  }

  .search-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; /* Make input and button take full width */
    margin: 1vh 0; /* Add margin for better spacing */
    height: 7vh;
    font-size: 2rem;
  }

  .user-diaries-heading {
    font-size: 4rem;
    text-align: center;
    margin-top: 10vh;
  }

  .previous-entries-text {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 10vh;
  }

  .see-all-button {
    width: 100%;
    height: 7vh;
    background: black;
    border: none;
    outline: none;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
  }
}
