@import "~react-datepicker/dist/react-datepicker.css";

.text-editor-container,
.most-recent-table,
.diary-buttons-container,
.date-picker-container {
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.text-editor-container {
  margin-bottom: 50px;
}

.most-recent-written-header {
  text-align: center;
  margin: 100px auto 20px;
  font-size: 1.75rem;
  font-family: "Poppins", sans-serif;
}

.most-recent-table-heading p {
  margin: 0;
  font-size: 1.25rem;
  color: #fff;
}

.diary-buttons-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.diary-button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.diary-button:hover {
  background-color: #59c7e6;
  transform: translateY(-2px);
}

.date-picker-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.125rem;
}

.date-picker {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
