@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("/src/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: local("Poppins"), url("/src/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins"), url("/src/fonts/Poppins-Bold.ttf") format("truetype");
}

@import "~react-datepicker/dist/react-datepicker.css";

.quillPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  margin: 0 auto;
}

.TextEditorApp {
  width: 100vw;
  margin: 0 auto;
  max-width: 950px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 300px;
}

.most-recent-table, .diary-buttons-container, .date-picker-container {
  width: 100vw;
  margin: 0 auto;
  max-width: 950px;
  margin-top: 30px;
}

.most-recent-written-header {
  margin-top: 150px;
}

.Footer {
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
}

/* Navbar positioning */
.navBar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}