@import "~react-datepicker/dist/react-datepicker.css";

/* TODO: This file has many similar naming conventions as DiaryEntries
   causing clashing and overwriting. Fix this issue */

/* Global Styles */
body, html {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-family: 'Arial', sans-serif; /* Set font family */
  font-size: 1vh; /* Set base font size */
  background: var(--primary-bg); /* Set background using CSS variable */
  color: #fff; /* Set text color to white */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  min-height: 100vh; /* Ensure body covers at least full viewport height */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.quillPage {
  display: flex; /* Use flexbox for layout */
  z-index: 1; /* Ensure it is above other elements */
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
  min-height: 100vh; /* Ensure it covers full viewport height */
  width: 100%; /* Full width */
}

.text-editor-container-quill,
.diary-buttons-container-quill,
.date-picker-container-quill {
  width: 60%;
  max-width: 100%;
  margin: 2vh 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 2vh;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  margin-top: 10vh;
  color: white;
}

.text-editor-container-quill {
  margin-bottom: 30vh;
  font-size: 1.5vh;
}

.most-recent-written-header-quill {
  text-align: center;
  margin: 20vh auto 2vh;
  font-size: 1.2vh;
  font-family: "Poppins", sans-serif;
  color: white;
}

.most-recent-table-heading-quill p {
  margin: 0;
  font-size: 1.3vh;
  color: #fff;
}

.date-picker-container-quill label {
  display: block;
  margin-bottom: 1vh;
  font-size: 1.2vh;
}

.date-picker-quill {
  width: 100%;
  padding: 1vh;
  border-radius: 5px;
  border: none;
  font-size: 1vh;
}

.most-recent-table-quill {
  width: 60vh;
  height: 15vh;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 2vh;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: height 0.2s ease;
  margin-top: 3vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url("../../Pictures/WorkDiaryBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  transition: 0.2s, background-color 0.2s, padding 0.3s;
}

.most-recent-table-quill:hover {
  transform: scale(1.1);
}

.most-recent-table-quill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.most-recent-table-heading-quill {
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
  padding: 1vh;
  border-radius: 10px;
  z-index: 1;
}

.previous-entries-text-quill {
  display: flex;
  justify-content: center;
}

.user-diaries {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.user-diary-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.user-diary {
  width: 30vh;
  height: 15vh;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 2vh;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: height 0.2s ease;
  margin: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s, background-color 0.2s, padding 0.3s;
}

.user-diary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.user-diary p {
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.8vh;
  border-radius: 0.8vh;
  font-size: 1vh;
  z-index: 1;
}

.work {
  background-image: url("../../Pictures/WorkDiaryBackground.jpg");
  background-size: cover;
  background-position: center;
}

.travel {
  background-image: url("../../Pictures/TravelDiaryBackground.jpg");
  background-size: cover;
  background-position: center;
}

.food {
  background-image: url("../../Pictures/FoodDiaryBackground.jpg");
  background-size: cover;
  background-position: center;
}

.see-all-button-quill{
width: 18.5vh;
height: 3.5vh;
background: black;
border: none;
outline: none;
border-radius: 0.6vh;
cursor: pointer;
font-size: 1vh;
color: #fff;
font-weight: 500;
}

.work {
  background-image: url("../../Pictures/WorkDiaryBackground.jpg");
  background-size: cover;
  background-position: center;
}

.travel {
  background-image: url("../../Pictures/TravelDiaryBackground.jpg");
  background-size: cover;
  background-position: center;
}

.food {
  background-image: url("../../Pictures/FoodDiaryBackground.jpg");
  background-size: cover;
  background-position: center;
}