/* Global page styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1c3a94, #1b0045);
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for the homepage */
.home-container {
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

/* Footer positioning */
.Footer {
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
}

/* Diamond-shaped content box */
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
    margin-top: 100px; /* Add margin to create space above */
    margin-bottom: 100px; /* Add margin to create space below */
}

.box-content {
    background-color: #ffffff;
    color: #333;
    text-align: center;
    padding: 30px;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    transform-origin: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-content h1, .box-content p, .cta-button {
    margin-top: 100px;
}

/* Styles for button */
.cta-button {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    align-self: center; /* Center the button horizontally */
}

.cta-button:hover {
    background-color: #59c7e6;
}
