.policy-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: relative; /* Add this to establish a containing block for absolute children */
  margin: 0 auto;
}

.policy-header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
