.policy-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: relative; /* Add this to establish a containing block for absolute children */
  margin: 0 auto;
}

.policy-header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: auto; /* Automatically push to the bottom */
  width: 60%; /* Set width */
  margin: 500px 0; /* Vertical margin */
  padding: 20px; /* Padding around content */
  font-size: 20px; /* Font size */
  background-color: rgba(255, 255, 255, 0.15); /* Light translucent background */
}