@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("/src/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: local("Poppins"), url("/src/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins"), url("/src/fonts/Poppins-Bold.ttf") format("truetype");
}

.wrapperReset {
  position: relative;
  width: 400px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  display: flex;
  overflow: hidden;
  transition: height 0.2s ease;
}

.wrapperReset .form-box {
  position: relative;
  width: 100%;
  padding: 40px;
  height: 50px;
  margin: 30px 0;
}

button.set-btn {
  width: 100%;
  height: 45px;
  background: black;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

button.login-link {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

button.login-link:hover {
  text-decoration: underline;
}
