.previous-entries-text {
    display: flex;
    justify-content: center;
    font-size: 1vh;
  }
  
  .folders-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    padding: 2vh;
    margin-bottom: 10vh;
  }

  .toggle-entries-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    color: #007bff;
    margin-left: 1vh;
  }